body{
    background: black;
}

/*.container{
    margin-left: 40px;
    background: #fff;
    width: 85%;
    height: 18px;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: 	#383838;


}

.container input{
    background: transparent;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    color: rgb(110, 118, 125);
    padding-left: 20px;
}

.container i{
    color: rgb(110, 118, 125);
}

.container1 a i{
    position: absolute;
    top: 28px;
    bottom: 0;
    right: 12px;
    color:  #3399ff;
}

.links input::value{
    color: rgb(110, 118, 125);
}

nav {
    width: 100%;
    height: 100px;
}
nav ul {
    margin-left: -50px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 40px;
    left: 12px;
}

ul li a {
    text-decoration: none;
    font-size:  15px;
    font-family: arial;
    padding: 15px 15px 15px 15px;
    color: rgb(110, 118, 125);
}

li:first-child a {
    color: rgb(29,161,242);
    border-bottom: 3px solid rgb(29,161,242);
}

.grid-container {
    display: grid;
    grid-auto-rows: minmax(60px, auto);
    grid-gap: -10px;
    margin-top: -25px;
}

.grid-item{
    border: 1px groove rgb(110, 118, 125);
    color: white;
    font-size: 13px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: arial;

}

p1 {
    color: rgb(110, 118, 125);
}

p2 {
    color: rgb(110, 118, 125);
}

p3 {
    padding-top: 15px;
}

img {
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 16px;
    border-radius: 20%;

}*/


.nav-link {
    color: rgb(110, 118, 125);
}

.bg-color-red {
    background-color: #FA8072;
}

.bg-color-yellow {
    background-color: #FDDA0D
}

.bg-color-blue {
     background-color: #0000FF
}

.has-search .form-control {
    padding-left: 2.400rem;
    width: 85%;
}

.list-group-item {
    background: black;
    color: white;
}

.form-control {
    padding-left: 30px;
    border-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-right: 15px;
    border: transparent;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.wd-display-img{
	width: 70px;
    height: 70px;
    float: right;
    border-radius: 15px;
    transform: translate(0px, -50px);
}

.wd-display-img2{
	width: 70px;
    height: 70px;
    float: right;
    border-radius: 15px;
    transform: translate(0px, -50px);
}

.wd-display-img1{
	width: 70px;
    height: 70px;
    float: right;
    border-radius: 15px;
    transform: translate(0px, -20px);
}


p3 {
    color: 	rgb(105,105,105);
}

.card-body {
    /*max-height: 120px;*/
  /*  height: 100%;*/


    background: black;
    color: white;
    border-color: rgb(56, 56, 56)
    border-right: rgb(56, 56, 56)

}

.card {
    border-color: #383838;
    transform: translate(0px, -7px);

}

.card-text {
    color: white;
    font-size: 30px;
    margin-top: 300px;

}

.list-group1 {
    border: transparent;
    background-color: rgb(24,24,24);
    border-left: transparent;
}

.list-group-items {
    margin-top: 10px;
    padding-bottom: 10px;
    max-height: 120px;
    height: 100%;
    border-bottom: transparent;
    color: white;
}


.right-display-img {
    width: 30px;
    height: 40px;
    margin-left: 5px;

}

.title-info {
    margin-left: 45px;
    margin-top: -45px;
    position: absolute;


}

.list-group-items i{
    position: absolute;
    padding-left: 55px;
    margin-top: 1px;
    color: white;
}

.handle {
    position: absolute;
    color: 	rgb(105,105,105);
    margin-left: 10px;
    margin-top: 15px;
}

.list-group-items button{
    float: right;
    border-radius: 20px;
    margin-right: 10px;

}

.icon i{
    position: absolute;
    padding-left: 170px;
    margin-top: -40px;
}

.container1 a i{
    vertical-align: middle;
    padding-left: 10px;
    padding-top: 2px;
}

.fa fa-cog fa-2x{
    vertical-align: middle;
    padding-left: 2px;
    padding-top: 2px;
}

.wd-search {
    position: absolute;
    padding-left: 8px;
    padding-top: 5px;
    z-index: 1;

}

@media screen and (max-width: 1200px) {
      .wd-text {
        display: none; }
      .nav-item-en{
        display: none;
      }
      .card-text{
                 margin-top: 240px;
               }
}

@media screen and (max-width: 992px) {
   .card-text{
           margin-top: 320px;
         }
}

@media screen and (max-width: 768px) {
   .card-text{
           margin-top: 220px;
         }
}

@media screen and (max-width: 576px) {
   .card-text{
           margin-top: 190px;
         }
}

